Source: apt-checkpoint
Section: admin
Priority: important
Maintainer: Adam Israel <adam@battleaxe.net>
Uploaders: Adam Israel <adam@battleaxe.net>
Build-Depends: python-apt

Package: apt-checkpoint
Architecture: any
Depends: ${python:Depends}, python-apt, wget, dpkg (>= 1.10.21) 
Priority: important
Section: admin
Description: Create, compare, and rollback point-in-time snapshots of a Debian system
 This command line utility allows you to create, compare, and rollback
 snapshots of a Debian system.  These checkpoints record the installation
 state of installed packages and offers a way to restore a Debian system
 to its previously working state in the case of broken packages 
 or failed upgrades.
